<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> City not found! </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
</head>

<body> 
    <div class="Heading">
        <img src="https://imgs.search.brave.com/ZaLd_aivcSuH8MhV5ZKcCE8AUmxepW-_JVt3BN-d30g/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by93/ZWF0aGVyLWZvcmVj/YXN0LWljb25zLXdp/dGgtdGhlcm1vbWV0/ZXJzXzEwNzc5MS0x/NzcxNi5qcGc_c2l6/ZT02MjYmZXh0PWpw/Zw" alt="Weather Icon" height="70px" width="70px">

    <h1 style = "margin-left:25px;"> City not found! </h1>
    </div>    
    <div class="Tryy">
    <h2 style = "padding:15px;"> Try Again? </h2>
    </div>
    
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City" />
        <button type="submit">Check</button>
    </form>
    <footer>
        <p>&copy; 2024 WeatherApp   @All rights reserved.</p>
        <p>Designed by Ali Ashjaa</p>
        <p>Contact: aliashjaa8@gmail.com</p>
    </footer>
</body>

</html>