* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    background-color: #2ca3da;
    background-size: cover;
    background-position: center;
}

input {
    height: 45px; /* Increased height for better touch targets on mobile */
    width: 100%;
    max-width: 400px; /* Adjust max-width as needed */
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #dfe1e0;
    color: #000000;
    margin-bottom: 1rem;
    border: none; /* Remove default border */
    outline: none; /* Remove outline on focus */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

input:hover {
    background-color: #f5f4f4;
}

button {
    height: 45px; /* Increased height for consistency */
    min-width: 120px; /* Set minimum width to avoid button jumping */
    font-size: 1rem;
    border-radius: 10px;
    background-color: #fff8f0;
    padding: 0.5rem 1rem;
    border: none; /* Remove default border */
    outline: none; /* Remove outline on focus */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
    background-color: #beb9b3;
}

.Heading {
    width: 100%;
    max-width: 600px; 
    height: auto;
    color: #767522;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px 2px black;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    background-color: #fff8f0;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

footer p {
    margin: 0;
    padding: 10px;
}